In [ ]:
import sqlite3
import pandas as pd

# Connect to the database
conn = sqlite3.connect('chinook.db')+
# Read customers table into DataFrame
customers_df = pd.read_sql_query("SELECT * FROM customers", conn)

# Display first 10 rows
print(customers_df.head(10))

# Close the connection
conn.close()

In [ ]:
# Load JSON file
iris_df = pd.read_json('iris.json')

# Show shape and column names
print("Shape of iris dataset:", iris_df.shape)
print("Column names:", iris_df.columns.tolist())

In [ ]:
# Load Excel file
titanic_df = pd.read_excel('titanic.xlsx')

# Display first 5 rows
print(titanic_df.head())

In [ ]:
# Read Parquet file
flights_df = pd.read_parquet('flights.parquet')

# Summarize with info
print(flights_df.info())

In [ ]:
# Load CSV file
movie_df = pd.read_csv('movie.csv')

# Display random sample of 10 rows
print(movie_df.sample(10))

part 2

In [ ]:
# Rename columns to lowercase
iris_df.columns = iris_df.columns.str.lower()

# Select only sepal_length and sepal_width
sepal_df = iris_df[['sepal_length', 'sepal_width']]
print(sepal_df.head())

In [ ]:
# Filter rows where age > 30
over_30 = titanic_df[titanic_df['Age'] > 30]
print(over_30.head())

# Count number of male and female passengers
gender_counts = titanic_df['Sex'].value_counts()
print(gender_counts)

In [ ]:
# Extract origin, dest, and carrier columns
flight_subset = flights_df[['origin', 'dest', 'carrier']]
print(flight_subset.head())

# Find number of unique destinations
unique_dests = flights_df['dest'].nunique()
print("Number of unique destinations:", unique_dests)

In [ ]:
# Filter rows where duration > 120 minutes
long_movies = movie_df[movie_df['duration'] > 120]

# Sort by director_facebook_likes in descending order
sorted_long_movies = long_movies.sort_values('director_facebook_likes', ascending=False)
print(sorted_long_movies.head())

Part 3

In [ ]:
# Calculate mean, median, and std for numerical columns
print("Mean values:\n", iris_df.select_dtypes(include='number').mean())
print("\nMedian values:\n", iris_df.select_dtypes(include='number').median())
print("\nStandard deviation:\n", iris_df.select_dtypes(include='number').std())

In [ ]:
# Find min, max, and sum of passenger ages
print("Minimum age:", titanic_df['Age'].min())
print("Maximum age:", titanic_df['Age'].max())
print("Sum of ages:", titanic_df['Age'].sum())

In [ ]:
# Identify director with highest total director_facebook_likes
top_director = movie_df.groupby('director_name')['director_facebook_likes'].sum().idxmax()
print("Director with highest total likes:", top_director)

# Find the 5 longest movies and their directors
longest_movies = movie_df.nlargest(5, 'duration')[['movie_title', 'director_name', 'duration']]
print("\n5 longest movies:")
print(longest_movies)

In [ ]:
# Check for missing values
print("Missing values per column:")
print(flights_df.isnull().sum())

# Fill missing values in a numerical column with mean
# Example: filling 'dep_delay' column
mean_dep_delay = flights_df['dep_delay'].mean()
flights_df['dep_delay'] = flights_df['dep_delay'].fillna(mean_dep_delay)
print("\nAfter filling missing values:")
print(flights_df['dep_delay'].isnull().sum())